<div class="container">
  <div>
    <h1>Karma Wheel</h1>
  </div>
  <img src="assets/dharma.png" class="image" #img_rotate />
  <div>
    <p #fade class="show">{{ question }}</p>
    <div *ngIf="welcome">
      <button class="start_btn" (click)="start()">Start</button>
    </div>
  </div>
  <div #fade_answer class="show">
    <p class="answers" (click)="nextQuestion(1)">{{ first_answer }}</p>
    <p class="answers" (click)="nextQuestion(2)">{{ second_answer }}</p>
    <p class="answers" (click)="nextQuestion(3)">{{ third_answer }}</p>
    <p class="answers" (click)="nextQuestion(4)">{{ fourth_answer }}</p>
  </div>
  <div #fade_rebirth class="hide">
    <p>{{ intro_text }}</p>
    <h2>{{ rebirth }}</h2>
    <img [src]="rebirth_image" />
    <p class="rebirth_text">{{ rebirth_text }}</p>
  </div>
</div>
